<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .error-message {
            color: red;
            font-size: 1.2em;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Picture not recoganized !</h1>
        <p class="error-message">{{ error_message }}</p>
        <!-- Go Back Button -->
        <a href="/" class="go-back-btn">Go Back</a>
    </div>
</body>
</html>